In [1]:
import pandas
from tabula import read_pdf

In [2]:
details_df = read_pdf('DetailsPDF.pdf')
actual_df = pandas.read_excel('ActualNotebook.xlsx')

In [3]:
details_df.head()

   Roll Number            Name Subject1 Subject2
0    201601107  Veera Raghavan        A        S
1    201601108    Venkat Raman        B        A
2    201601109         Vindhya        C        B
3    201601110         Vishwak        D        C
4    201601111           Vitul        E        D

In [4]:
actual_df.head()

   Roll Number            Name
0    201601107  Veera Raghavan
1    201601108    Venkat Raman
2    201601109         Vindhya
3    201601110         Vishwak
4    201601111           Vitul

In [5]:
details_to_actual=[]

In [8]:
for details in details_df['Roll Number']:
    for actual in actual_df['Roll Number']:
        if actual == details:
            details_to_actual.append(details_df[details]['Subject1'])
            break

KeyError: 201601107

In [7]:
print(details_to_actual)

[201601107, 201601108, 201601109, 201601110, 201601111, 201601112]